{% extends 'base.html.j2' %}
{% block title %}
    Homepage
{% endblock %}

{%block css %}
 <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
    <h1>Here you can find any pokemon in the PokeAPI database.</h1>
    <h5>this allows us to look at a specific pokemon to our choosing</h5>
    <p>for the history of the pokemon use the <a href="https://bulbapedia.bulbagarden.net/wiki/History_of_Pokemon">History of Pokemon</a> Website to see the information about the specific pokemon.</p>
    <p>to look up a specific pokemon use the <a href="https://bulbapedia.bulbagarden.net/wiki/List_of_Pok%C3%A9mon_by_name">List of Pokemon</a> to look up the exact spelling of a pokemon you know but cant spell.</p>
    <h1>Find Trainers</h1>
   <div class="card">
        <div class="card-image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwyVTv2EH_U60m7d-OJouensS9GXT2qm919A&usqp=CAU" alt="Avatar" style="width:50%">
        </div>
        <div class="container">
            <h4><b>Ash Ketchum</b></h4>
            <p>Trainer</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwyVTv2EH_U60m7d-OJouensS9GXT2qm919A&usqp=CAU" alt="Avatar" style="width:50%">
        </div>
        <div class="container">
            <h4><b>Misty</b></h4>
            <p>Trainer</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwyVTv2EH_U60m7d-OJouensS9GXT2qm919A&usqp=CAU" alt="Avatar" style="width:50%">
        </div>        
        <div class="container">
            <h4><b>Brock</b></h4>
            <p>Trainer</p>
        </div>
    </div>    
{% endblock %}